body{

}

.theme-white{
    background: #fff;
    color: #333;
}

.theme-black{
	background: #333;
    color: #fff;
}

.painel{

}

.painel-button-w{

}

.painel-button-b{

}

.painel-left-bottom{

}

.painel-right-bottom{
	
}